#secondQues {
 background-color: #ffa0a0;
}

#thirdQues {
    background-color: #ffa0a0;

}

#fourthQues {
    background-color: #ffa0a0;
    
}

#fifthQues {
    background-color: #ffa0a0;
    
}

#sixthQues {
    background-color: #ffa0a0;
    
}