.questionList {
    padding-right: 50%;
    background-color: #7dbbb2 ;

}

#radioButton{
    background-color: #7dbbb2 ;

}
.simple_question{
    background-color: #7dbbb2 ;
    text-align: 50%;
    margin-top: 1%;
    padding:50px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.next-btn{
    padding:0.5%;
}

