/*Color Palette

#e1fefb	
#7dbbb2	
#d1dbd7	
#356965	
#aea391

*/

.title-header{
  text-align:center;
  font-weight:bold;
  color:#356965;
}
.Career-Btn{
  width:25%;
  height: 10%;
  background:white;
  margin:20px;
  padding:10px;
  font-size: 22px;
  font-weight:bold;
  text-align: center;
  overflow-wrap: break-word;
  align-items: auto;
  border-radius: 20px;
  border:none;
}

.Career-Btn:hover{
  color:#282c34;
}

hr{
  height:2px;
}


body{
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  background-size:cover;
  background:#5df6a2;
}


#column{
  float:left;
  width:50%;
  padding:10px;
  height:300px;
}

#row::after{
  content:"";
  display:table;
  clear:both;
}

#quiz-description{
  text-align: center;
  text-wrap:balance;
  border-top-style: solid;
  border-color: #00674f;
  padding-top: 10px;

}

footer{
  font-size:12px;
  height: 100px;
}

.page-bottom{
  padding:10px;
  height:105px;
  position: relative;
  font-size: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  border-top:10px;
}

.Submit-Button{
  width:70px;
  font-size: 10px;
  text-align:center;
}

#menu-bar{
  position:fixed;
  top:0;
  width:100%;

}

.home-btn{
  width:10%;
  height: 10%;
  background:white;
  margin:20px;
  padding:10px;
  font-size: 22px;
  font-weight:bold;
  text-align: center;
  overflow-wrap: break-word;
  align-items: auto;
  border-radius: 20px;
  border:none;
}

