/*Color Palette

#F4F1DE -> Eggshell	
#E07A5F -> Burnt Sienna
#3D405B -> Delft Blue
#81B29A -> Cambridge Blue
#F2CC8F -> Sunset

*/

body{
  text-align: center;
  font-family: 'Trebuchet', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-size:cover;
  background:#F4F1DE;
  margin-bottom:0;
  margin-top: 2%;
  margin-left:2%;
  margin-right:2%;
  padding:20px;
  border-radius: 20px;
}

.title-header{
    font-family: 'Trebuchet', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3em;
  font-weight: lighter;
  letter-spacing: 10px;
  text-align: center;
}

.Career-Btn{
  font-family: 'Trebuchet', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 45%;
  height: 50%;
  background:white;
  margin:20px;
  padding:5px;
  font-size: 100%;
  font-weight:bold;
  text-align: center;
  overflow-wrap: break-word;
  align-items: auto;
  border-radius: 20px;
  border:none;
}

.Career-Btn:hover{
  color:#00ff26;
}


.quiz-description{
  text-align: center;
  text-wrap:balance;
  border-top-style: solid;
  border-color: #00674f;
  padding-top: 10px;

}

footer{
  font-size:12px;
  height: 100px;
}

.page-bottom{
  padding:0.5%;
  height:125px;
  font-size: 10px;
  left: 0;
  bottom: 0;
  width: 50%;
  background-color: white;
  text-align: left;
}

.Submit-Button{
  width:70px;
  font-size: 10px;
  text-align:center;
}

.menu-bar{
  align-items: center;
  margin:auto;
  width:95%;
  background: #81B29A;
  border-radius: 40px;

}

.home-btn{
  width: 5%;
  height: 10%;
  background:white;
  margin:20px;
  padding:5px;
  font-size: 22px;
  font-weight:bold;
  text-align: center;
  overflow-wrap: break-word;
  align-items: auto;
  border-radius: 20px;
  border:none;
}

.description_flexbox{
  height:auto;
  background-color: #3D405B;
  color:white;
  flex-direction: row;
  border-radius: 20px;
  margin:auto;
  align-items: center;
  margin-top:5%;
  margin-bottom:5%;
}

.inner_description_flexbox{

  background-color: #E07A5F;
  width:25%;
  margin:2%;
  display:inline-block;
  flex-direction: row;
  font-family: 'Trebuchet', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
  padding:1.5%;
  border-radius: 20px;

  
}

.app_container{
  display:flex;
}

.logo{
  align-items: left;
  font: size 100px;;
}


